<footer>
    <div>
    <img src="/images/logo white.png">
    </div>
    <div class="pl-4">
        <h2 class="text-light">
            Pages
        </h2>
        <p>
            <ul class="list-unstyled text-white">
                <li>
                    <a href="/users/sign-in" class="text-warning">Sign In</a>    
                </li>
                <li>
                    <a href="/users/sign-up" class="text-warning">Sign Up</a>   
                </li>
                <p>
                    <a href="/users/profile" class="text-warning">My Profile</a>   
                </p>
            </ul>
        </p>
    </div>

</footer>