<footer>
    <div>
    <img src="<%=assetPath('images/logo white.png')%>">
    </div>
    <div class="pl-4">
        <h2 class="text-light">
            Pages
        </h2>
        <p>
            <ul class="list-unstyled text-white">
                <li>
                    <a href="/" class="text-warning">Home</a>   
                </li>
                <li>
                    <a href="/users/sign-in" class="text-warning">Sign In</a>    
                </li>
                <li>
                    <a href="/users/sign-up" class="text-warning">Sign Up</a>   
                </li>
                <li>
                    <a href="/users/profile" class="text-warning">My Profile</a>   
                </li>
            </ul>
        </p>
    </div>

</footer>