<div class="container mt-5 bg-light p-5">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form class="form" method="post" action="/reset_password/send_mail">
                <div class="form-group mx-sm-3 mb-2">
                    <h3>Please Enter your Email id</h3>
                    <label for="email" class="sr-only">Password</label>
                    <input type="email" name="email" required class="form-control" id="email" placeholder="abc@example.com">
                    <h6 class="mt-3 mb-3"><strong>Note:</strong> An email will be sent to this email id where a password reset link
                        will be provided. Please follow that link to reset your account's password.</h6>
                </div>
                <button type="submit" class="btn btn-lg btn-primary mb-2 ml-3">SEND</button>
            </form>
        </div>
    </div>
</div>