<section class="section-one">
    <!-- do not remove this. this is the background -->

</section>

<section class="col-sm-8 offset-sm-2 section-two pt-5 pb-5 animate__animated animate__jello">
    <h1 class="text-center font-weight-bold sign-up-logo pb-2">Sign In</h1>
    <div class="row align-items-center">
        <div class="col-sm-8 offset-sm-2">
            <form action="/users/create-session" method="POST">
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                        placeholder="abc@xyz.com" name="email" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" required name="password">
                </div>
                <div class="form-group">
                    <a type="button" href="/reset_password/enter_email"  class="btn btn-link pl-0">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="text-right">
                <div class="d-inline-block">Or Login using :</div>
                <div class="d-inline-block">
                    <a type="button" href="/users/auth/google" class="btn btn-light text-danger font-weight-bold"><i class="fab fa-google"></i>oogle</a>
                </div>
            </div>

        </div>
    </div>
</section>