<link rel="stylesheet" href="/css/user_profiles.css">
    <h1>This is the profile of <%=locals.profile_user.name%></h1>
<p>
    <%=locals.profile_user.name%>
</p>
<p>
    <%=locals.profile_user.email%>
</p>