<link rel="stylesheet" href="/css/user_profiles.css">
<h1><%=title%>/ Profile Page</h1>
<p>Name: <%=locals.user.name%></p>
<p>email: <%=locals.user.email%></p>
<a type="button" class="btn btn-primary" href="/users/sign-out">Sign Out</a>