#user-chatbox {
	position: fixed;
	box-sizing: border-box;
	right: 0.5%;
	bottom: 0.5%;
	border: 1px solid rgb(155, 155, 155);
	height: 60%;
	opacity:0.95;
	width: 25vw;
	border-radius: 20px 20px 0px 0px;
	#is_online {
		border-radius: 50%;
		background-color: rgb(124, 196, 18);
		width: 9px;
		height: 9px;
	}
	.messages-container {
		height: 67%;
		overflow-y: scroll;
		///////////////////////////////////////////////////////////////////////////////////////
		#message-list {
			list-style: none;
			width: 100%;
			height: 100%;
			padding-left:9px;
			padding-right: 9px;
			li {
				display: block;
				margin-top:7px;
				margin-bottom: 7px;
			}

			.other-message {
				background-color: rgb(0, 0, 255);
				border-radius: 20px;
				width:min-content;
				padding: 7px;
				margin-right: auto;
				color: white;
			}
			.self-message {
				width:min-content;
				color: black;
				background-color: rgb(255, 255, 255);
				border-radius: 20px;
				padding: 7px;
				margin-left:auto;
			}
		}
	}
	.new-message {
		height: 13%;
		width: auto;
		form {
			width: 100%;
			div:nth-child(1) {
				width: 18vw;
			}
		}
	}
}
