.search-bar {
	width: 25vw !important;
}
.navbar-brand {
	background: -webkit-linear-gradient(
		0deg,
		rgb(119, 0, 255) -50%,
		rgb(4, 255, 255) 150%
	);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size:25px;
    padding:0px;
}
