.card-body
{
    a
    {
        font-size:20px;
        &:hover
        {
            color:red;
        }
    }
}
.card
{
    box-shadow: 0px 5px 10px 1px rgb(219, 219, 219);
    transition:all ease-in-out 0.2s;
    &:hover
    {
        box-shadow: 0px 0px 2px 1px rgb(240, 240, 240);
    }
}
.row
{
    section:nth-child(3)
    {
        a
        {
            &:hover
            {
                text-decoration: none;
                color:red;
            }
        }
        .badge
        {
            &:hover
            {
                background-color:red;
                cursor:default;
            }
        }
        ul
        {
            overflow:scroll;
            max-height:75vh;
            &::-webkit-scrollbar
            {
                display: none;
            }
        }
    }
}
.action-buttons
{
    cursor: pointer;
    a:nth-child(1):hover
    {
        text-decoration:none;
    }
}