body
{
    margin:0px;
    padding:0px;
    
    section
    {
        border:2px solid black;
        #profile-picture
        {
            width:200px;
            height:200px;
            border-radius: 3%;
            img
            {
                border-radius: inherit;
                width:100%;
                height:100%;
            }
        }
        #add-friend
        {
            background-color: #7952b3;
            border-color: #7952b3;
            &:hover
            {
                background-color: #6339a1;
                border-color: #6339a1;
            }
        }
    }
}