// best in chrome
$total: 300; // total particles
$orb-size: 550px;
$particle-size: 20px;
$time: 60s;
$base-hue: 0; // change for diff colors (180 is nice)

.section-one {
    background: linear-gradient(45deg, red -100%, blue 200%);
    z-index: -1;
    overflow: hidden; // no scrollbars..
    height: 100%;
	width: 100%;
    box-sizing: border-box;
    position:absolute;
}

.sign-up-logo
{
    background: -webkit-linear-gradient(0deg, #7700ff 31%, #ff0066 62%);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size:25px;
    padding:0px;
}

.section-two
{
    background-color: rgba(255, 255, 255, 0.8);
	margin-top:3%;
	color:black !important;
	font-weight:bold;
}

h1.text-center
{
    font-size: 50px;
}

.wrap {
	position: relative;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform-style: preserve-3d;
	perspective: 1000px;
	animation: rotate $time infinite linear; // rotate orb
}

@keyframes rotate {
	100% {
		transform: rotateY(360deg) rotateX(360deg);
	}
}

.c {
	position: absolute;
	width: $particle-size;
	height: $particle-size;
	border-radius: 50%;
	opacity: 0;
}

@for $i from 1 through $total {
	$z: (random(360) * 1deg); // random angle to rotateZ
	$y: (random(360) * 1deg); // random to rotateX
	$hue: ((40 / $total * $i) + $base-hue); // set hue

	.c:nth-child(#{$i}) {
		// grab the nth particle
		animation: orbit#{$i} $time infinite;
		animation-delay: ($i * 0.01s);
		background-color: hsla($hue, 100%, 50%, 1);
	}

	@keyframes orbit#{$i} {
		20% {
			opacity: 1; // fade in
		}
		30% {
			transform: rotateZ(-$z) rotateY($y) translateX($orb-size)
				rotateZ($z); // form orb
		}
		80% {
			transform: rotateZ(-$z) rotateY($y) translateX($orb-size)
				rotateZ($z); // hold orb state 30-80
			opacity: 1; // hold opacity 20-80
		}
		100% {
			transform: rotateZ(-$z) rotateY($y) translateX(($orb-size * 3))
				rotateZ($z); // translateX * 3
		}
	}
}
