<div>
    <p><%=comment.user.name%></p>
    <br>
    <br>
    <p>Your Comment: </p>
    <strong>
        <%=comment.content%>
    </strong>
    <p>is published on comspace Express!</p>
    <p>Thanks for using our services! :)</p>
</div>