#user-chatbox {
  position: fixed;
  box-sizing: border-box;
  right: 0.5%;
  bottom: 0.5%;
  border: 1px solid #9b9b9b;
  height: 60%;
  opacity: 0.95;
  width: 25vw;
  border-radius: 20px 20px 0px 0px;
}

#user-chatbox #is_online {
  border-radius: 50%;
  background-color: #7cc412;
  width: 9px;
  height: 9px;
}

#user-chatbox .messages-container {
  height: 67%;
  overflow-y: scroll;
}

#user-chatbox .messages-container #message-list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding-left: 9px;
  padding-right: 9px;
}

#user-chatbox .messages-container #message-list li {
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
}

#user-chatbox .messages-container #message-list .other-message {
  background-color: blue;
  border-radius: 20px;
  width: min-content;
  padding: 7px;
  margin-right: auto;
  color: white;
}

#user-chatbox .messages-container #message-list .self-message {
  width: min-content;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 7px;
  margin-left: auto;
}

#user-chatbox .new-message {
  height: 13%;
  width: auto;
}

#user-chatbox .new-message form {
  width: 100%;
}

#user-chatbox .new-message form div:nth-child(1) {
  width: 18vw;
}
