.search-bar {
  width: 25vw !important;
}

.navbar-brand {
  background: -webkit-linear-gradient(0deg, #7700ff 0%, #ff0066 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 0px;
}

nav {
  background-color: #1c1f22;
}
