.card-body a {
  font-size: 20px;
}

.card-body a:hover {
  color: red;
}

.card {
  box-shadow: 0px 5px 10px 1px #dbdbdb;
  transition: all ease-in-out 0.2s;
}

.card:hover {
  box-shadow: 0px 0px 2px 1px #f0f0f0;
}

.row section:nth-child(3) {
  height: 95vh;
  overflow: hidden;
}

.row section:nth-child(3) #friends-container {
  height: 47%;
  overflow: scroll;
}

.row section:nth-child(3) #friends-container::-webkit-scrollbar {
  display: none;
}

.row section:nth-child(3) #all-users-container {
  height: 47%;
  overflow: scroll;
}

.row section:nth-child(3) #all-users-container::-webkit-scrollbar {
  display: none;
}

.row section:nth-child(3) a:hover {
  text-decoration: none;
  color: red;
}

.row section:nth-child(3) .badge {
  color: white;
}

.row section:nth-child(3) .badge:hover {
  color: white;
  cursor: pointer;
}

.row section:nth-child(3) ul {
  overflow: scroll;
  max-height: 75vh;
}

.row section:nth-child(3) ul::-webkit-scrollbar {
  display: none;
}

.action-buttons {
  cursor: pointer;
}

:root a:hover {
  text-decoration: none;
}
